/* styles of body */
body{
  font-family: Poppins;
}
/* styles of nav-bar */
.navbar-brand{
  font-family: Archivo Black;
  font-size: 30px;
}
/* Styles for fixed background */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
  }
  .box {
    width:100%;
    height: 90vh;
    border:1px solid grey;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    background-image: url(./bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  
  .overlay {
    position: relative;
  }
  
  .overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:0;
  }
  
  .overlay:before{
    display: block;
  }
  
  .black:before {
    background-color: rgba(0,0,0,0.7);
  }

  
  
  .box * {
      position: relative;
  }
  
.fixed {
    color:rgb(121, 54, 54);
    font-family: Archivo Black;
    text-shadow: 6px 2px rgb(12, 12, 12);
    text-transform: uppercase;
    padding-top: 15%;
  }
  /* styles for two columns */
.shape{
  border-radius: 50%;
  height: 300px;
}
.background{
  background-image: url(./bg-flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.image{
  background-image: url(./bg3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Styles for portfolio */

.size{
  height: 90%;
  width: 80%;
  padding: 5px;
  border: 3px solid rgb(78, 75, 75);
  border-radius: 10px;

}
.size2{
  height: 90%;
  width:80%;
  border: 3px solid rgb(78, 75, 75);
  border-radius: 10px;
  padding:5px;
}
.font{
  text-transform: uppercase;
  text-shadow:4px 2px rgb(90, 86, 86); 
}

/* contact */
.social a {
  display: inline;
  margin: 3%;
  font-size: 4.5em;
}
.fa-github{
  color: black;
}
.fa-twitter{
  color: #00aced;
}
.fa-codepen{
  color:black;
}
.fa-youtube{
  color: #bb0000;
}
.padding{
  margin-top: 10%;
}
.background-cover{
  background-image: url(./contact-img..jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
.shadow-text{
  text-shadow: 5px 2px gray;
}